.backgroundimage {background-image: url("/assets/img/EagleFly.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: white;
    color:rgb(142, 39, 39);
    
}


.centertext {
    text-align: center;
    color: black;
    background-color: lightgray;
}
.subheading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    
}
.leftlist {
    text-align: left;
    padding: 20px;
    background-color: lightcyan;
}

.blockdesign {
    text-decoration: dotted;
    text-align: left;
    padding: 20px;
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}